{% extends "OdysseusBackBundle::layout.html.twig" %}

{% block title %} 
	Lister des clients - {{ parent() }}
{% endblock %}

{% block odysseusback_body %}
	
    <h2 class="page-header">Liste des clients</h2>  
        
        {% for message in app.session.flashbag.get('client') %}
            <p class="bg-success contextual">{{ message }}</p>
        {% endfor %}
            
        <table class="table table-bordered">
            <thead>
                <tr>
                <th>Pseudo</th>    
                <th>Civilité</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Naissance</th>
                <th>Adresse</th>
                <th>Cp</th>
                <th>Ville</th>
                <th>France</th>
                <th>Téléphone</th>
                <th>Email</th>
                <th>Créa.</th>
                <th>Modif.</th> 
                <th>Etat</th>
                <!--<th>Modifier</th>-->
                <th>Bannir</th>
                </tr>
            </thead>
            <tbody>
                {% if liste_clients %}
                    {% for client in liste_clients %} 
                    
                        <tr>
                            <td> {{ client.user.username }} </td>
                            <td> {{ client.civilite }} </td>
                            <td> {{ client.nom }} </td>
                            <td> {{ client.prenom }} </td>
                            <td> {{ client.dateNaissance|date("d/m/Y") }} </td>
                            <td> {# adresse.adresse #} </td>
                            <td> {# client.adresse.cp #} </td>
                            <td> {# client.adresse.ville #} </td>
                            <td> {# client.adresse.pays #} </td>
                            <td> {{ client.telephone }} </td>
                            <td> {{ client.user.email }} </td>
                            <td> {% if (client.dateCreation != "null" )%} {{ client.dateCreation|date("d/m/Y") }} {% endif %}</td>
                            <td> {% if (client.dateModification != "null" )%} {{ client.dateModification|date("d/m/Y") }} {% endif %} </td></td>
                            <td> {{ client.etat.nom }} </td> 
                           <!-- <td><a href="{# path('odysseus_back_modifier_client', {id: client.id_client}) #}"><i class="glyphicon glyphicon-edit"></i></a></td>-->
                            <td>
                                <a href="{{ path('odysseus_back_bannir_client', {id: client.user.id}) }}"><i class="glyphicon glyphicon-warning-sign"></i></a> 
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
           	
{% endblock %}