{% extends "OdysseusBackBundle::layout.html.twig" %}

{% block title %} 
	Lister les produits - {{ parent() }}
{% endblock %}

{% block odysseusback_body %}
	
    <h2 class="page-header">Liste des produits</h2>  
    
    <p>
        <a class="btn btn-info" href="{{ path('odysseus_back_ajouter_produit') }}"><i class="glyphicon glyphicon-plus"></i> Ajouter un produit</a>
    </p>
        <table class="table table-bordered">
            <thead>
                <tr>
                <th>Réf.</th>
                <th>Nom</th>
                <th>Catégorie</th>
                <th>Sous-catégorie</th>
                <th>Description</th>
                <th>Etat</th>
                <th>Promo</th>
                <th>Nouveau</th>
                <th>A la une</th>      
                <th>Modifier</th>
                <th>Supprimer</th>
                </tr>
            </thead>
            <tbody>
              
                {% for produit in liste_produits %} 
                <tr>
                    <td> {{ produit.reference }} </td>
                    <td> {{ produit.nom }} </td>
                    <td> {{ produit.categorie }} </td>
                    <td> {{ produit.souscategorie }} </td>
                    <td> {{ produit.description }} </td>
                    <td> {{ produit.etat }} </td>                    
                    <td> {{ produit.promo }} </td>
                    <td> {{ produit.nouveau }} </td>
                    <td> {{ produit.alaune }}</td>

                    <td><a href="{{ path('odysseus_back_modifier_produit', {id: produit.idProduit}) }}"><i class="glyphicon glyphicon-edit"></i></a></td>
                    <td><a href="{{ path('odysseus_back_supprimer_produit', {id: produit.idProduit}) }}"><i class="glyphicon glyphicon-remove"> </i></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
            
<p class="label label-danger">
A faire :
<ul>
<li>Liste test - Ajout test - Modification test - Suppression test </li>
<li> vérifier les contraintes pour effacer les produits </li>
</ul>  	
</p>	
{% endblock %}