{% extends "OdysseusBackBundle::layout.html.twig" %}

{% block title %} 
	Lister les états - {{ parent() }}
{% endblock %}

{% block odysseusback_body %}
	
    <h2 class="page-header">Liste des états</h2>  
    
    {% for message in app.session.flashbag.get('etat') %}
        <p class="bg-success contextual">{{ message }}</p>
    {% endfor %}
        
    <p>
        <a class="btn btn-info" href="{{ path('odysseus_back_ajouter_etat') }}"><i class="glyphicon glyphicon-plus"></i> Ajouter un état</a>
    </p>
        <table class="table table-bordered">
            <thead>
                <tr>
                <th>Nom de l'état</th>
                <th>Type de l'état</th>
                <th>Modifier</th>
                <th>Supprimer</th>
                </tr>
            </thead>
            <tbody>
                {% if(liste_etats) %}
                    {% for etat in liste_etats %} 
                    <tr>
                        <td>{{ etat.nom }} </td>
                        <td>{{ etat.type }}</td>
                        <td><a href="{{ path('odysseus_back_modifier_etat', {id: etat.idEtat}) }}"><i class="glyphicon glyphicon-edit"></i></a></td>
                        <td><a href="{{ path('odysseus_back_supprimer_etat', {id: etat.idEtat}) }}"><i class="glyphicon glyphicon-trash"> </i></a></td>
                    </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
            
<!-- Liste ok - Ajout ok - Modification ok - Suppression ok -->
	
{% endblock %}