{% extends "OdysseusBackBundle::layout.html.twig" %}

{% block title %}
	Supprimer un état - {{ parent() }}</h2>
{% endblock %}

{% block odysseusback_body %}

	<h2> Supprimer un état </h2>

	<p>Etes-vous certain(e) de vouloir supprimer l'état "{{ etat.nom }}" ?</p>
        
        <form method="post" action="{{ path('odysseus_back_supprimer_etat', {id: etat.idEtat}) }}" >

              <a href="{{ path('odysseus_back_lister_etat') }}" class="btn btn-info">
                <i class="glyphicon glyphicon-chevron-left"></i>Retour à la liste des états
              </a>
             
		<input type="submit" value="Supprimer" class="btn btn-danger">
            {{ form_rest(form) }}
	</form>
	
{% endblock %}