{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}
{% block fos_user_content %}
    <div id="profil">

        {% include "OdysseusUserBundle:Default:menuProfile.html.twig" %}

        <div id="detail">
            <h2>Mes Commandes</h2>
            {% if (listeCommande_Adresse is empty) %}
                <span>
                        Vous n'avez aucune commande
            </span>
            {% else %}
                <div class="CSSTableGenerator">
                    <table class="tg">
                        <tr>
                            <td class="tg-031e">Date de la commande</td>
                            <td class="tg-031e">Adresse de livraison</td>
                            <td class="tg-031e">Montant de la commande</td>
                            <td class="tg-031e">Etat de la commande</td>
                            <td class="tg-031e">Plus d'info</td>
                        </tr>
                        {% for data in listeCommande_Adresse %}
                            <tr>
                                <td class="tg-031e">{{data['commande'].dateCommande|date('d/m/Y')}}</td>
                                <td class="tg-031e">{{data['adresse'].adresse}} {{data['adresse'].cp}}</td>
                                <td class="tg-031e">{{data['commande'].montant}} €</td>
                                <td class="tg-031e">{{data['commande'].etat}}</td>
                                <td class="tg-031e"><a href=""><center><span  class="glyphicon glyphicon-edit" style="text-align: center;font-size: 1.4em;"></span></center></a></td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endif %}
            <br />
        </div>
    </div>

{% endblock fos_user_content %}

