{% trans_default_domain 'FOSUserBundle' %}

<div id="profil">
    
    {% include "OdysseusUserBundle:Default:menuProfile.html.twig" %}
    
    <div id="detail">
        <h2>Mes informations</h2>
        {{ ladybug_dump(user)}}
        <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
        <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
        <p> Civilité : {{ user.civilite }}</p>
        <p> Nom : {{ user.nom }}</p>
        <p> Prénom : {{ user.prenom }}</p>
        <p> Téléphone : {{ user.telephone }}</p>
        <p>Date de naissance : {{ user.dateNaissance|date("d/m/Y") }}</p>
    </div>   
</div>
