{% extends "OdysseusFrontBundle::layout.html.twig" %}

{% block title %} {{ parent() }} - Produit {% endblock %}

{% block body %}

    <div id="wrap">
        {# include "OdysseusFrontBundle:Default:menuPanier.html.twig" #}
        <div id="livraison">
            <h2>Choisissez votre adresse</h2>

            <form action="{{ path('odysseus_front_validation_panier')}}" method="POST">
                
                <div id="gauche">
                    <h4>Adresse de livraison</h4>                   
                    {% for ad_livraison in adresses_livraison %}
                        <div class="adresse">
                            <input type="radio" name="livraison" value="{{ ad_livraison.idAdresse }}" {% if loop.last %} checked="checked" {% endif %}/>
                            <label>{{ ad_livraison.adresse ~' - '~ ad_livraison.cp ~' '~  ad_livraison.ville|capitalize ~' - '~ ad_livraison.pays|capitalize }}
                                <a href="{{ path('odysseus_front_livraison_adresse_suppression', {id : ad_livraison.idAdresse }) }}" class="trash"></a>
                            </label>
                            {{ ad_livraison.user.prenom }}
                        </div>
                    {% else %}
                        <div>Aucune adresse de livraison enregistrée dans votre profil.</div>
                    {% endfor %}
                </div>
                    
                <div id="droite">
                    <h4>Adresse de facturation </h4>
                    {% for ad_facturation in adresses_facturation %}
                        <div class="adresse">
                            <input type="radio" name="facturation"  value="{{ ad_facturation.idAdresse }}" {% if loop.last %} checked="checked" {% endif %}/>
                            <label>{{ ad_facturation.adresse  ~' - '~ ad_facturation.cp ~' '~  ad_facturation.ville|capitalize ~' - '~ ad_facturation.pays|capitalize }}
                            <a href="{{ path('odysseus_front_livraison_adresse_suppression', {id : ad_facturation.idAdresse } ) }}" class="trash"></a>
                            </label>
                        </div>
                    {% else %}
                        <div>Aucune adresse de facturation enregistrée dans votre profil.</div>
                    {% endfor %} 
                </div>
                <br/>
                <div>
                    <button type="submit">Valider mes adresses </button>
                </div>
            </form>

            <h2> ou Ajouter une adresse</h2>

            <form action="{{path ('odysseus_front_livraison')}}" method="POST">
                
            <div>
                {{ form_label(form.type, "Type d'adresse") }}
                {{ form_errors(form.type) }}
                {{ form_widget(form.type) }}
            </div>
            <br/>
            <div>
                {{ form_label(form.adresse, "Adresse") }}
                {{ form_errors(form.adresse) }}
                {{ form_widget(form.adresse) }}
            </div>
            <br/>
            <div>
                {{ form_label(form.cp, "Code postal") }}
                {{ form_errors(form.cp) }}
                {{ form_widget(form.cp) }}
            </div>
            <br/>    
            <div>
                {{ form_label(form.ville, "Ville") }}
                {{ form_errors(form.ville) }}
                {{ form_widget(form.ville) }}
            </div>
            <br/>    
            <div>
                {{ form_label(form.pays, "Pays") }}
                {{ form_errors(form.pays) }}
                {{ form_widget(form.pays) }}
            </div>
            <br/>
            <div>
                <button type="submit">Ajouter </button>
            </div>
            {{ form_rest(form) }}
            </form>
        </div>
    </div>
    {% include "OdysseusFrontBundle:Default:sidebar.html.twig" %}

{% endblock %}