{% extends "OdysseusBackBundle::layout.html.twig" %}

{% block title %}
	Supprimer une catégorie - {{ parent() }}</h2>
{% endblock %}

{% block odysseusback_body %}

	<h2> Supprimer une catégorie </h2>

	<p>Etes-vous certain(e) de vouloir supprimer la catégorie "{{ categorie.nom }}" ?</p>
        
        <form method="post" action="{{ path('odysseus_back_supprimer_categorie', {id: categorie.idCategorie}) }}" >

              <a href="{{ path('odysseus_back_lister_categorie') }}" class="btn btn-info">
                <i class="glyphicon glyphicon-chevron-left"></i>Retour à la liste des catégories
              </a>
             
		<input type="submit" value="Supprimer" class="btn btn-danger">
            {{ form_rest(form) }}
	</form>
	
{% endblock %}