{% extends "OdysseusFrontBundle::layout.html.twig" %}

{% block title %} {{ parent() }} - Produit {% endblock %}

{% block body %}
    <div id="wrap">
        <div id="categories">
            <h2>Liste des produits correspondant à votre recherche : " {{ recherche }} "</h2>

            {% if (liste_produits | length) > 0 %}
            {% for produit in liste_produits %}
                
            <div class="produit" >
                    <div class="detail">
                        <img src="{# produit.image.path#}" alt="" class="vignette" style=" "/>
                        <span class="nom_produit">{{ produit.produit.nom }}</span>
                        <span class="prix">{{ produit.prix | number_format(2, ',', ' ') }}€ </span>
                    </div>

                    <div class="boutons">
                        <a href="{{ path ('odysseus_front_produit_presentation', { id : produit.idProduitVente}) }}" title=""><span class="infos">Plus d'infos</span></a>
                        <form action="{# path('odysseus_front_panier')#}" method="post">
                            <button type="button">Ajouter au panier</button>
                        </form>
                    </div>
            </div> <!--#details-->
            {% endfor %}
            {% else %}
            
            <div class="fond">Pas de produits correspondant à votre recherche.</div>
            {% endif %}
        </div> <!--#produit-->
    </div><!--#wrap -->
    {% include "OdysseusFrontBundle:Default:sidebar.html.twig" %}

{% endblock %}