<!--<h3>Formulaire de sous-catégorie</h3>-->

<div class="well">
    <form method="post" action="" {{ form_enctype(form) }} >

        {# les erreurs générales du form #}
        {{ form_errors(form) }}

        <div class="row show-grid">

            <div class="col-md-3"> {{ form_label(form.nom, "Nom de la sous-catégorie") }} </div>
            <div class="col-md-6"> {{ form_errors(form.nom) }} </div> 
            <div class="col-md-6"> {{ form_widget(form.nom) }} </div>
        </div>
        <br/>
        
        <div class="row show-grid">
            <div class="col-md-3"> {{ form_label(form.categorie, "Attachée à la catégorie") }} </div>
            <div class="col-md-6"> {{ form_errors(form.categorie) }} </div>
            <div class="col-md-6"> {{ form_widget(form.categorie) }} </div>
        </div>
        <br/>
        
        <input type="submit" value="Valider" class="btn btn-success">
        {{ form_rest(form) }}
    </form>
</div>	