
<div class="well">
	<form method="post" action="" {{ form_enctype(form) }} id="form_produits">

		{# les erreurs générales du form #}
                {{ form_errors(form) }}

		<div class="row show-grid">
                    <div class="col-md-3"> {{ form_label(form.remarque, "Remarque sur le produit") }} </div>
                    <div class="col-md-6"> {{ form_errors(form.remarque) }} </div>
                    <div class="col-md-6"> {{ form_widget(form.remarque) }} </div>
		</div>
                <br/>

                <div class="row show-grid">
                    <div class="col-md-3"> {{ form_label(form.prix, "Prix du produit") }} </div>
                    <div class="col-md-6"> {{ form_errors(form.prix) }} </div>
                    <div class="col-md-6"> {{ form_widget(form.prix) }} </div>
		</div>
                <br/>
                
                <div class="row show-grid">
                    <div class="col-md-3"> {{ form_label(form.stock, "Stock du produit") }} </div>
                    <div class="col-md-6"> {{ form_errors(form.stock) }} </div>
                    <div class="col-md-6"> {{ form_widget(form.stock) }} </div>
		</div>
                <br/>
                <div class="row show-grid">
                    <div class="col-md-3"> {{ form_label(form.etat, "Etat du produit") }} </div>
                    <div class="col-md-6"> {{ form_errors(form.etat) }} </div>
                    <div class="col-md-6"> {{ form_widget(form.etat) }} </div>
		</div>
                <br/>
		<input type="submit" value="Valider" class="btn btn-success">
                {{ form_rest(form) }}
	</form>
</div>	