{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

<div id="creation">
    <h2>Inscrivez-vous</h2>
    <div class="fond">
	<span class="sous-titre">Nouvelle inscription</span>
        <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">

            {{ form_errors(form) }}
            <div>
                {{ form_errors(form.username) }}
                {{ form_label(form.username, "Votre nom d'utilisateur :") }}
                {{ form_widget(form.username) }}
            </div>
            <div>
                {{ form_errors(form.email) }}
                {{ form_label(form.email, "Votre adresse email :") }}
                {{ form_widget(form.email) }}
            </div>
            <div>
                {{ form_errors(form.plainPassword.first) }}
                {{ form_label(form.plainPassword.first, "Votre mot de passe : ") }}
                {{ form_widget(form.plainPassword.first) }}           
            </div>
            <div>
                {{ form_errors(form.plainPassword.second) }}
                {{ form_label(form.plainPassword.second, "Vérification du mot de passe :") }}
                {{ form_widget(form.plainPassword.second) }}
            </div>
            <div>
            {{ form_row(form._token) }}
            <button type="submit"  value="{{ 'registration.submit'|trans }}">S'enregistrer</button>
            </div>
        </form>
    </div>
</div> 

{% endblock fos_user_content %}